.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 56px 50px;
  color: map-get($kasa-theme, primary);

  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-top: 0;

    @include is('desktop') {
      font-size: 10rem;
    }
  }

  p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;

    @include is('desktop') {
      font-size: 2rem;
    }
  }

  a {
    color: map-get($kasa-theme, primary);
    text-decoration: underline;
  }

}