.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: $white;
  padding: calc($global-spacing *2);

  img {
    margin-bottom: 2rem;
    max-width: 122px;
  }

  p {
    margin-bottom: 0;
  }
}