.accommodation {
  &__header {
    display: flex;
    flex-direction: column;
    color: map-get($kasa-theme, primary);

    @include is('desktop') {
      flex-direction: row;
      align-items: center;
    }

    .accommodation__infos {
      flex: 1;

      @include is('desktop') {
        flex: 1 0 60%;
      }

      .accommodation__tags {
        margin-top: calc($global-spacing * 2);
      }

    }

    .accommodation__host__infos {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: calc($global-spacing * 1.5);

      @include is('desktop') {
        flex-direction: column;
        align-items: flex-end;
      }

      .host {
        @include is('desktop') {
          order: 1;
        }
      }

      .rate {
        @include is('desktop') {
          order: 2;
          margin-top: $global-spacing;
        }
      }
    }

  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: calc($global-spacing * 1.5);
    margin: calc($global-spacing * 1.5) 0;


    @include is('desktop') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: calc($global-spacing * 1.5);
    }
  }
}