@import-normalize; /* Import normalize.css styles already included with create-react-app */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "./utils/variables";
@import "./utils/mixins";
@import "./base/base";
@import "./components/header";
@import "./components/footer";
@import "./components/main_title";
@import "./components/logo";
@import "./components/navigation";
@import "./components/card";
@import "./components/loader";
@import "./components/hero";
@import "./components/tag";
@import "./components/host";
@import "./components/rating";
@import "./components/slider";
@import "./components/accordion";
@import "./pages/home";
@import "./pages/accommodation";
@import "./pages/about";